/* body background color: #EEEBD3 Beige*/
/* headings text color: #255957 Dark Slate Grey*/

body {
	background-color: #EEEBD3;
}
body h1 {
	color: #255957;
	text-align: center;
}
body h2 {
	color: #255957;
	text-align: center;
}